<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">Me siga no:</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.instagram.com/luisbr1/" target="_blank" class="icoInstagram " title="Instagram ">
                            <fa-icon [icon]="faInstagram "></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/luis-fernando-paes-9179a5109/" target='_blank ' class="icoLinkedin " title="Linkedin ">
                            <fa-icon [icon]="faLinkedin "></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3 ">
        <span class="text-light "> 2021 Copyright: </span>
        <a class="text-light " href="# ">blog.online</a>
    </div>
</footer>